@{
    ViewBag.Title = "About";
}
<section class="orangepage" id="orangepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <h3>Who We Are</h3>
                <p>PWE Reporting is developed by the Nazca Software Solutions. Our team composes of four members each with their own unique IT elements that have contributed to our project.</p>
           
                <p>Jacob: Project Manager/Business Analyst/Software Engineer<br /><br />
                Eric: Quality Assurance/Software Engineer<br /><br />
                Greg: Requirements Engineer/Software Engineer<br /><br />
                Steve: Business Analyst/Software Engineer<br /><br />
                 </p>
            
            </div>
            <div class="col-lg-5">
                <h3>Our Application</h3>
                <p>PWE Reporting makes it easy for our client to download reports from their reporting services. The goal was for reports to be available to download from their company server without having to use their legacy application that was more prone to user error and application timeouts.</p>
                <br />
                <p> How does PWE Reporting make life easier?</p>
                <p>PWE Reporting dynamically loads available reports along with their parameters by accessing reporting services.</p>
                <p>PWE Reporting presents reports for users to select based on report name and description and select parameters needed to download. Reports are downloaded in EXCEL format to allow users to edit and make changes.</p>
                <p>PWE Reporting ensures a user has permissions to access reports through Windows Authentication and lends ability for reports to be available through any computer with domain privileges.</p>         
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

            </div>
        </div>

    </div>
</section>