@{
    ViewBag.Title = "Help";
}
<section class="orangepage" id="orangepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Title</h2>
                <hr class="star-light">
            </div>


            <div class="col-lg-5 col-lg-offset-1">
                <h3>Purpose</h3>
                <p>PWE Reporting is an application solution for downloading reports from a reporting server. The application serves as part of a business process for employees to edit and make changes to content stored at their data warehouse.</p>
            </div>
            <div class="col-lg-5">
                <h3>Steps for Business Process</h3>
            
                    <p><strong>1.</strong> PWE Reporting application is used to authenticate users to access and download reports.</p>
                    <p><strong>2.</strong> Reports are downloaded in EXCEL format for users to open and edit the reports.</p>
                    <p><strong>3.</strong> Once reports have been edited they will be saved with a template to upload the EXCEL file for their company server.</p>
                    <p><strong>4.</strong> The EXCEL file will be uploaded to the server through the EXCEL template.</p>
                    <p><strong>5.</strong> Changes will be made to the server data warehouse when a System Admin commits the uploaded EXCEL files containing the report edits.</p>
                   
            </div>
        </div>
    </div>
</section>