@{
    ViewBag.Title = "Help";
}
<section class="orangepage" id="orangepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Title</h2>
                <hr class="under-line">
            </div>


            <div class="col-lg-4 col-lg-offset-2">
                <p>PWE Reporting is an application solution to downloading reports from a Microsoft SQL Reporting Server.</p>
            </div>
            <div class="col-lg-4">
                <p>PWE Reporting was developed by a group of students for their senior capstone course. Goals for the course was to work with a real life client to implement their own project plan to approach the application environment.  </p>
            </div>
        </div>
    </div>
</section>