@{
    ViewBag.Title = "Lookup Tables";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div align="center">
            <h1>PWE: <small>Lookup Tables</small></h1><br />
        </div>
    </div>
</body>
</html>
