@{
    ViewBag.Title = "Reports";

    int reportWithParam = 0;
    string reportParam = "";
    string reportTs = "";
    int reportL = 0;
    string[] reportOpt = null;
    int i = 0;
}
<h2>Reports</h2>
<div style="max-width:60%;" class="table-responsive">
   <form>
   <p>Select a report to download</p>

   <select name="report_selecter" id="report_selecter">
     <option>--Select Report--</option>
       @foreach (var report in Model)
       {
         <option>@report.ReportName</option>
         reportL = 0;
       }
  </select>
            <p>Select a Parameter</p>
               @foreach (var report in Model)
               {
                   foreach (var reportPara in report.ReportParameters)
                   {
                    <select>
                        <option>--Select Parameter--</option>
                        @foreach (var para in report.DataParameters)
                        {
                        reportParam = @para.Value;
                        <option>@reportParam</option>
                        }
                    </select>
                    <br>
                   }
               }
           </form>   
            <br /><br />
            <input type="button" class="btn btn-primary btn-md active" value="Download Report" />
    </div>



